* {
  box-sizing: border-box;
}


body {
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

/* 버튼들 */
.right-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    z-index: 3;

    pointer-events: visiblePainted;
    cursor: pointer;
}

.right-button:active {
  filter: brightness(70%);
}

.left-button {
    position: fixed;
    left: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    z-index: 3;

    pointer-events: visiblePainted;
    cursor: pointer;
}

.left-button:active {
  filter: brightness(70%);
}

.outside {
    position: fixed;
    right: 80px;
    top: 45%;
    transform: translateY(-50%);
    border-radius: 14px;
    border: 2px solid #000000;
    width: 14px;
    height: 350px;
    background: transparent;
    z-index: 2;
    overflow: hidden;
}

.inside {
    background: #000000;
    border-radius: 14px;
    width: 100%;
    height: 0%; /* 처음엔 0% */
    position: absolute;
    bottom: 0;
    transition: height 0.2s ease;
}

.content {
    height: 300vh;
    overflow-y: scroll;
    position: absolute;
    left: 50%;
    top: 0;
    padding-top: 20%;
    transform: translateX(-50%);
    z-index: 0;

    pointer-events: none;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.content img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.blur-text {
  color: var(#000000);
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 65px;
  font-weight: 700;
  position: fixed;
  left: 96px;
  top: 40px;
  left: 40px;
  aspect-ratio: 1;
}

/* 원....
.circle {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.10);
  background: transparent;
  z-index: 3;
  top: 200px;
  left: 200px;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;

  filter: blur(50);
} */

/* 블러 효과 설정 */
.blur-effect {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(0px); /* 기본 블러 효과 */
  pointer-events: none;
  z-index: 2;
}